<footer class="bg-dark text-white py-3 m-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2 class="border">Tr!gger</h2>
                <p>Designed for institutions and educators, it offers versatile learning formats to enhance student engagement and learning outcomes effectively.</p>
                <p>&copy; 2024 E-Learn. All rights reserved.</p>
            </div>
            <div class="col-md-4">
                <h5>Links</h5>
                <a href="{% url 'home' %}">Home</a><br>
                <a href="{% url 'contect' %}">Register</a><br>
                <a href="{% url 'login' %}">Login</a>
            </div>
            <div class="col-md-4">
                <h5>Get in Touch</h5>
                <a href="https://instagram.com"><i class="fa-brands fa-instagram text-danger" style="font-size: 30px;"></i></a>
                <a href="https://whatsapp.com"><i class="fa-brands fa-whatsapp text-success px-3" style="font-size: 30px;"></i></a>
                <a href="https://linkedin.com"><i class="fa-brands fa-linkedin text-primary ps-3" style="font-size: 30px;"></i></a>
            </div>
        </div>
    </div>

</footer>